<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register by yourself</h6>
        </div>
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Full Name</label>
              <input formControlName="fullName" type="text" class="form-control" id="exampleInputName">
            </div>
            <div class="mb-3">
              <label for="exampleInputNumber" class="form-label">Phone Number</label>
              <input formControlName="phoneNumber" type="text" class="form-control" id="exampleInputNumber">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword">
            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
          </form>
          <br>
          <a routerLink="/login">Already have an account</a>
      </div>
    </div>
  </div>
</div>
